#header
  text-shadow 0 0 1px #fff
  width 100%
  position: fixed
  background: #000
  
  section
    margin: 10px

  a
    color #999
    &:hover
      color color-link
      text-decoration none
    
  h1
    font-weight normal
    font-size 2em
    line-height 1

  h2
    font-weight normal
    font-size 0.9em
    line-height 1
    margin-top 10px
  
  #main-nav
    font-family font-title
    line-height 2.5em
    ul
      list-style none
      li
        float left
        margin-left 30px

  .search
    input
      background #fff
      font-family font-title
      font-style italic
      font-size 1em
      padding 8px 15px
      border 1px solid color-border
      width 100%
      box-sizing border-box
      color color-meta
      &:focus
        color color-font