// Constrains the inner container to the bounds of the page
// even if it overflows
.outerContainer {
    width: 100%;
    max-width: 100vw;
    overflow: hidden;
    @apply h-full w-full absolute;
}

// The actual full background object wrapping
// face and circles
.innerContainer {
    @apply absolute;

    width: 22rem;
    height: 22rem;
    top: -2rem;
    left: calc(50vw - 11rem);

    @screen sm {
        width: 24rem;
        height: 24rem;
        top: -3rem;
        left: calc(50vw - 12rem)
    }

    @screen md {
        width: 40rem;
        height: 40rem;
        top: -7.5rem;
        left: unset;
        right: -10rem;
    }

    @screen lg {
        width: 54rem;
        height: 54rem;
        top: -7.5rem;
        right: -12rem;
    }

    @screen xl {
        width: 76rem;
        height: 76rem;
        top: -12.5rem;
        right: -10rem;
    }
}
