.container {
  font-family: 'Lato', sans-serif;
}

.container h1,
.container h2 {
  font-family: 'EB Garamond', serif;
}

.footer {
  font-size: 0.5em;
  color: #333;
  position: absolute;
  bottom: 0;
  text-align: center;
}
