article
    margin: 10% auto
    max-width: 40em

    h2
        margin-top: 2em
        
    header
        h1
            font-weight: bold
            color: #000
            margin: 0
            border-bottom: 2px solid #ccc

        time
            font-weight: 300

    .icon
        width: 6em
        height: 6em
        margin: auto
        color: colour-blue
        border-radius: 10px

        i
            margin: 0.175em 0 0 0.175em
            font-size: 5em

    header, footer, .entry
        line-height: 1.6
        margin: auto
        max-width: 32em

    &.index
        .icon
            float: left
            margin-right: 2em
        
        header, footer, .entry
            margin-left: 8em
    