*
    font-size: 100%
    font-family: 'Open Sans', 'sans-serif'

a
    font-weight: bold
    text-decoration: none
    color: colour-blue

    &:hover
        text-decoration: underline

    &:visited
        color: colour-blue

body
    padding: 0
    margin: 0
    border: 0
    height: 100%
    background: colour-light
    vertical-align: baseline;

h1
    font-size: 1.125em

    &.title
        font-size: 3.75em
        text-align: center
        font-weight: bold

h2
    font-size: 1em

p
    font-size: 0.875em

code
    font-family: monospace
    display: inline-block
    background: rgba(0,0,0,0.1)
    border-radius: 2px
    padding: 0.2em 0.35em
    word-break: break-all

input
    text-shadow: 0px
    border-radius: 5px
    border: solid 1px #ccc
    padding: 5px

    &:focus
        border-radius: 10px

.site-footer
    text-align: center
    font-size: 70%
.main-nav
    text-align: center
    width: 100%

    a
        margin: 1em

.portrait
    overflow: hidden
    border-radius: 5px

    @media only screen and (min-width: 916px)
        width: 15em
        height: 24.27em
    
    @media only screen and (max-width: 915px)
        float: left
        width: 4em
        height: 4em
        margin-right: 1em

    img
        @media only screen and (min-width: 916px)
            max-width: 120%
            max-height: none
            margin-left: -10%
        
        @media only screen and (max-width: 915px)
            max-width: 100%
            max-height: none
            margin: -10% auto auto auto

.right-side
    width: auto
    transition: 0.25s
    overflow: hidden

    @media only screen and (min-width: 916px)
        margin-left: 50%;

.left-side
    background: colour-blue url(photo-url) top center no-repeat
    transition: width 0.25s
    color: colour-light
    overflow: hidden

    .bio
        margin-top: 70vh

    @media only screen and (min-width: 916px)
        position: fixed
        float: left
        width: 50%
        height: 100%
    
    @media only screen and (max-width: 915px)
        height: 100vh
        width: 100%


img
    max-height: 100%
    max-width: 100%

.clearfix
    clear: both

.button, .button:visited
    background: colour-blue
    color: colour-light
    padding: 0.3em 0.6em
    border-radius: 0.25em
    font-size: 0.875em

.button:hover
    text-decoration: none

article
    margin: 10% auto
    max-width: 40em

    h2
        margin-top: 2em
        
    header
        h1
            font-weight: bold
            color: #000
            margin: 0
            border-bottom: 2px solid #ccc

        time
            font-weight: light
    .icon
        width: 100px
        height: 100px
        margin-right: 30px
        background: red
        float: left

    header, footer, .entry
        line-height: 1.6
        margin: auto auto auto 130px

    &.bio
        color: colour-light
        height: 100%
        width: 100%
        font-size: 1.4em
        text-shadow: 1px 1px 1px #000
        background: transparent

        .entry
            display: inline
            text-align: center

        .portrait 
            float: left
            display: inline

            img
                width: 4em
                display: inline
                margin: 10px