// Colour Scheme
$base = #f6f7eb
$base-dark = desaturate(darken($base, 45%), 95%)

$feature = #3f7cac
$feature-light = desaturate(lighten($feature, 27%), 15%)

$text = #000

// Images
$titlescreen-background = "../images/bio-background.png"
$profilepic = "../images/profile_golden.png"