<nav class="pagination">
    <% if (page.prev) { %>
        <%- link_to(page.prev.path, '<i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous Page', {class: "button", title: "Previous Page"}) %>
    <% } %>
    <% if (page.next) { %>
        <%- link_to(page.next.path, 'Next Page <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>', {class: "button", title: "Next Page"}) %>
    <% } %>
</nav>