@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400&family=Open+Sans:wght@400;700&display=swap');

@page {
    margin: 16mm 18mm 10mm 18mm;
}

@media print {
    .printFooter {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        font-family: 'Merriweather', serif;
        font-size: 11px;
    }

    .printFooter .left {
        text-align: left;
    }

    .printFooter .center {
        text-align: center;
    }
    
    .printFooter .right {
        text-align: right;
    }

    .experience {
        break-inside: avoid;
    }

    .cv a {
        color: unset;
        text-decoration: none;
    }
}

@media screen {

    .cvContainer {
        background-color: grey;
        height: 100%;
        padding: 2em 0;
    }

    .cv {
        background: #fff;
        padding: 16mm 18mm 10mm 18mm;
        margin: auto;
        box-shadow: black 5px 5px 15px;
    }

    .printFooter {
        display: none;
    }
}

.cv {
    font-family: 'Merriweather', serif;
    max-width: 21cm;
    font-size: 12px;
}

.cv p {
    margin: 1em 0;
}

.cv h2 {
    margin: 1em 0 0.5em 0;
    font-size: 1.5em;
    font-weight: 700;
}

.cv h3 {
    margin: 1em 0;
    font-size: 1.17em;
}

.cvHeader {
    display: flex;
    margin-bottom: 2em;
}

.titleBlock {
    line-height: 1;
    flex-grow: 1;
}

.cv .titleBlock .name {
    font-size: 2em;
    font-weight: 700;
    margin: 0 0 0.5em 0;
}

.cv .titleBlock .jobTitle {
    font-size: 1.4em;
    font-weight: 400;
    margin: 0 0 0 0;
}

.contactDetails {
    line-height: 1.5;
    margin: 0;
    letter-spacing: 0px;
    list-style: none;
    padding-inline-start: unset;
}

.contactIcon {
    width: 16px;
    text-align: center;
}

.contactDetails code {
    display: inline;
    font-family: 'Consolas', monospace;
    margin-left: 2px;
}

.experience {
    margin-bottom: 1.5em;
}

.experience:last-child {
    margin-bottom: 0;
}

.experience h3 {
    margin: 0.65em 0 0 0;
    padding-top: 1px;
    display: flex;
    line-height: 1.25;
    font-weight: 700;
    align-items: baseline;
}

.experienceIcon {
    width: 1rem;
    font-size: .9rem;
    text-align: center;
}

.experience h3 .experienceTitle {
    margin-left: 0.7rem;
    flex-grow: 1;
}

.experience h3 .startEndDate {
    text-align: right;
    font-weight: 400;
}

.experienceContents {
    border-left: 3px double #b3b3b3;
    padding-left: 1.25rem;
    margin-left: calc(0.45rem - 0.5px)
}

.experienceContents li {
    margin-bottom: 0.5em;
}

.experienceDescription ul {
    padding-inline-start: 1.5em;
    list-style: disc;
    margin: 1em 0;
}


.technologies h4 {
    margin-bottom: unset;
}

.technologies ul {
    margin: 0;
    padding-inline-start: unset;
}

.technologies ul li {
    display: inline-block;
    border: 0.5px dotted black;
    padding: 0px 3px;
    margin: 2px;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.technologies ul li.highlight {
    font-weight: 700;
    border: 1px solid black;
}

.summary blockquote {
    padding: 0 1em;
    margin: 0;
    border: 1px dotted #000;
}

.summary blockquote cite {
    display: inline-block;
    width: 100%;
    text-align: right;
    margin-top: 0.5em;
}

.summary blockquote cite::before {
    content: '― ';
}