.canvasContainer {
    height: 100vh;
    min-width: 100vw;
    position: absolute;
    background-color: grey;
    z-index: -1;
}


.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50%;
}

.aboutMe h1 {
    font-size: 4em;
    font-weight: 700;
}

.description {
    flex-grow: 1;
}

.contactLinks {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: flex-start;
}

.contactLink {
    display: flex;
    height: 45px;
    padding: 0 8px;
    font-size: 36px;
    align-items: center;
    color: #000;
    background-color: #fff;
    margin-bottom: 24px;
}
